// 路由动画
.fade-enter-active, .fade-leave-active {
  transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
/*路由前进，进入*/
.forward-enter-active {
  animation: pageFromRightToCenter 0.4s forwards;
  z-index: 10;
  //box-shadow: -3px 0  5px rgba(0,0,0,.1);
}
/*路由前进，退出*/
.forward-leave-active {
  animation: pageFromCenterToLeft 0.4s forwards;
  z-index: 1;
}
/*路由后退，进入*/
.back-enter-active {
  animation: pageFromLeftToCenter 0.4s forwards;
  z-index: 1;
}
/*路由后退，退出*/
.back-leave-active {
  animation: pageFromCenterToRight 0.4s forwards;
  z-index: 10;
  //box-shadow: -1px 0  2px rgba(0,0,0,.1);
}
/*-------------------------------*/
/*路由前进，进入*/
@keyframes pageFromRightToCenter {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/*路由前进，退出*/
@keyframes pageFromCenterToLeft {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0.5;
    transform: translate3d(-20%, 0, 0);
  }
}
/*路由后退，进入*/
@keyframes pageFromLeftToCenter {
  from {
    opacity: 0.5;
    transform: translate3d(-20%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*路由后退，退出*/
@keyframes pageFromCenterToRight {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(100%, 0, 0);
    opacity: 1;
  }
}
